# Snapdrop - Local file sharing in your browser
# Copy to app.env and customize before starting

# Timezone
TZ=America/New_York

# Hostname
BASE_HOST_NAME=${HOSTNAME}

# Service user/group
SERVICE_USER=1000
SERVICE_GROUP=1000
